<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Go HTMX</title>
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
  </head>
  <body>
    <h1>Todo List</h1>

    <ul id="todo-list">
      {{range .Todos}}
      <li>{{.Message}}</li>
      {{end}}
    </ul>

    <form hx-swap="beforeend" hx-target="#todo-list" hx-post="/add-todo">
      <label for="message">Message:</label>
      <input type="text" id="message" name="message" />
      <button type="submit">Create</button>
    </form>
  </body>
</html>
